<div ng-controller="createController">
	<div class="row">
		<div class="col-lg-12">
			<h1>Add your event here.</h1>
			<hr>
		</div>
	</div>
	<div class="row">
		<form class="form-group">
			<div class="col-md-2">
				<label class="pull-right">
					Venue name
				</label>
			</div>
			<div class="form-group col-md-4">
				<input type="text" placeholder="{{eventObject.title}}" ng-model="eventObject.title" class="form-control">
			</div>
			<div class="col-md-2">
				<label class="pull-right">
					City
				</label>
			</div>
			<div class="form-group col-lg-4">
				<input type="text" placeholder="{{eventObject.region}}" ng-model="eventObject.region" class="form-control">
			</div>
			<div class="col-md-2">
				<label class="pull-right">
					Date and Time
				</label>
			</div>
			<div class="form-group col-md-4">
				<input type="text" placeholder="{{eventObject.datetime}}" ng-model="eventObject.datetime" class="form-control">
			</div>

			<div class="col-md-2">
				<label class="pull-right">
					Max Party Size
				</label>
			</div>
			<div class="form-group col-md-4">
				<input type="text" placeholder="{{eventObject.partyMax}}" ng-model="eventObject.partyMax" class="form-control">
			</div>
		</form>
	</div>
</div>