<div ng-controller="viewController">
	<div class="row">
		<div class="col-lg-12">
			<div class="">
				<select ui-select2="filterRegion"
								ng-model="selectedRegion"
								data-placeholder="Filter by Region"
								class="pull-left filter">
					<option value=""></option>
					<option ng-repeat="region in regions"
									value="{{region}}">
						{{region}}
					</option>
				</select>
			</div>
			<div class="btn btn-info pull-right" ng-click="showEvents()">
				Become a Host
			</div>
		</div>
	</div>
	<ul class="events">
		<li ng-repeat="event in events | filter:selectedRegion" class="event rounded-corners-20" style="position: relative">
			<div class="pictures">
				<div class="thumb rounded-corners-10">
					<img src="{{event.pictures[0].imgUrl}}"/>
				</div>
			</div>
			<div class="">
				<div class="info">
					<h4>
						{{event.title}}
					</h4>
					<p>
						{{event.neighborhood}}
					</p>
					<p>
						{{event.datetime}}
					</p>
				</div>

				<ul class="attendees">
					<li ng-repeat="attendee in event.attendees" class="attendee-container">
						<div class="attendee">
							<img src="{{attendee.imgUrl}}" alt="{{attendee.altTxt}}" class="circle">
						</div>
					</li>
				</ul>
			</div>

			<!-- Action button. -->
			<div class="btn btn-primary action" style="position: absolute; right: 20px; bottom: 20px; z-index: 2">
				<div ng-show="event.attendees.length < event.partyMax">
					RSVP
				</div>
				<div ng-hide="event.attendees.length < event.partyMax">
					Join Waitlist
				</div>
			</div>

			<!-- Grey out if event is full. -->
			<div class="rounded-corners-20" ng-class="{gray: event.attendees.length >= event.partyMax}">
			</div>

			<!-- Clear both. -->
			<div style="clear: both">
			</div>
		</li>
	</ul>
</div>